.container{
  padding: 1rem;
}

.outerTable {
  background-color: white;
  width: 110vh;
  padding: 10px;
  border-radius: 6px;
} 
h1{
  color: #fff; /* Replace with actual color */
  text-align: left;
  font-family: poppins;
  font-weight: 800;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
table {
  width: 100%;
  border-collapse: collapse;
  color: #000000;
  font-weight: 500;
}

th,
td {
  padding: 8px;
  margin-top: 10px;
  font-family: poppins;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


th {
  background-color: #f2f2f2;
  color: purple;
}

tr:hover {
  background-color: #e8e8e8;
  color: black;
}
.centered {
  text-align: center;
}
